@using System.Collections.Generic
@model System.Collections.Generic.IEnumerable<AiXinYaoYeV2.Database.Entity.RecommandProduct>

@{
    ViewBag.Title = "推荐商品";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>新品列表</h2>

<p>
    @Html.ActionLink("新增", "Create")
</p>
<table class="table">
    <tr style="width: 100%;">
        <th style="width: 100px;">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th style="width: 300px;">
            @Html.DisplayNameFor(model => model.Desc)
        </th>
        <th style="width: 100px;">
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CoverImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DetailPics)
        </th>
        <th style="width: 140px;">操作</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CoverImage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DetailPics)
        </td>
        
        <td>
            @Html.ActionLink("编辑", "Edit", new { id=item.Id }) |
            @Html.ActionLink("详情", "Details", new { id=item.Id }) |
            @Html.ActionLink("删除", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
